* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    
}
nav {
    font-size: 30px;
    margin-right: 190px;
    
    
    
}
h5{

    padding-left: 30px;
    font-size: 30px;
    
}
a{
    margin: 35px;
    color:#911bd1;
}
body{
    
}
.hero{
    width: 100%;
    height: 100vh;
    background: url(Images/image1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
img{
    width: 450px;
    height: auto;
    margin-left: 1000px;
    margin-top: 200px;
}
.hero-text{
    padding-left: 150px;
    margin-top: 230px;
    color:#24edd2;
    
}
.about{
    margin-top: 80px;
    font-size: 20px;

}
.image{
    
}
.aboutimage{

    display: flex;
    
}